
a {
    color: #3f8dbf;
}
.colored {
    color: #3f8dbf
}
.post-title a:hover {
    color: #3f8dbf
}
.black-wrapper a:hover {
    color: #3f8dbf
}
.color-wrapper {
    background: #3f8dbf
}
ul.circled li:before {
    color: #3f8dbf;
}
blockquote small {
    color: #3f8dbf
}
.nav > li > a:hover,
.nav > li.current > a {
    color: #3f8dbf;
}
.navbar .dropdown-menu {
    border-top: 2px solid #3f8dbf !important;
}
.navbar .nav .open > a,
.navbar .nav .open > a:hover,
.navbar .nav .open > a:focus {
    color: #3f8dbf;
}
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > li > a:hover,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > li > a:focus,
.navbar .dropdown-submenu:hover > a,
.navbar .dropdown-submenu:focus > a,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > .active > a,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > .active > a:hover,
.navbar .dropdown-menu:not(.yamm-dropdown-menu) > .active > a:focus {
    color: #3f8dbf;
}
.yamm .yamm-content a:hover {
    color: #3f8dbf
}
.btn,
.parallax .btn-submit,
.btn-submit {
    background: #3f8dbf;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.parallax .btn-submit:hover {
    background: #387eaa;
}
.btn-border-dark:hover {
    border: 2px solid #387eaa;
    color: #387eaa !important;
}
.btn-border-light:hover {
    border: 2px solid #387eaa;
    color: #387eaa !important;
}
.services .tab:hover .icon i.icn,
.services .tab.active .icon i.icn {
    color: #3f8dbf
}
.services .tab:hover .pin,
.services .tab.active .pin {
    background-color: #3f8dbf
}
.services .tab:hover h4,
.services .tab.active h4 {
    color: #3f8dbf
}
.tabs-top .tab a:hover,
.tabs-top .tab.active a {
    color: #3f8dbf;
    border-color: #3f8dbf;
}
#testimonials .author {
    color: #3f8dbf;
}
.col-testimonials .author {
    color: #3f8dbf;
}
.panel-title > a:hover {
    color: #3f8dbf
}
.col-services .icon i.icn {
    color: #3f8dbf;
}
.col-services-2 .col:hover .icon-border i {
    background-color: #3f8dbf;
}
.image-caption h3 a:hover {
    color: #3f8dbf
}
.black-wrapper .image-caption h3 a:hover {
    color: #3f8dbf
}
.more {
    margin: 0;
    color: #3f8dbf;
}
.meta a:hover {
    color: #3f8dbf
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
    color: #3f8dbf;
    border: 2px solid #3f8dbf;
}
.navigation a:hover {
    color: #3f8dbf;
    border: 2px solid #3f8dbf;
}
#comments .info h2 a:hover {
    color: #3f8dbf
}
#comments a.reply-link:hover {
    color: #3f8dbf
}
.step h5 {
    color: #3f8dbf
}
.icon-border i {
    color: #3f8dbf;
    border: 2px solid #3f8dbf;
}
.step:hover .icon-border i {
    background-color: #3f8dbf;
}
.progress-list li em {
    color: #3f8dbf;
}
.progress.plain .bar {
    background: #3f8dbf;
}
.sidebox a:hover {
    color: #3f8dbf
}
.border-list li a:hover {
    color: #3f8dbf
}
.border-list li:hover:after {
    color: #3f8dbf
}
.parallax a:hover {
    color: #3f8dbf
}
.pricing .plan h4 span {
    color: #3f8dbf
}
.tooltip-inner {
    color: #fff;
    background-color: #3f8dbf;
    padding: 5px 12px;
}
.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
    border-top-color: #3f8dbf
}
.tooltip.right .tooltip-arrow {
    border-right-color: #3f8dbf
}
.tooltip.left .tooltip-arrow {
    border-left-color: #3f8dbf
}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #3f8dbf
}
@media (max-width: 991px) { 
	.navbar-nav > li > a {
	    color: #3f8dbf
	}
}
@media (max-width: 767px) { 
	.services .tab a:hover,
	.services .tab.active a {
	    border-color: #3f8dbf
	}
	.services .tab:hover h4,
	.services .tab.active h4 {
	    color: #3f8dbf
	}
}
.icon-overlay a .icn-more {
    background: linear-gradient(-150deg, rgba(0, 193, 182, 0.92), rgba(19, 110, 181, 0.92));
}